/* Reset some default browser styles */
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222324;
    /* Dark grey background color */
    margin: 0;
    padding: 30px;
}

.titlebar {
    display: flex;
    background-color: #222324;
    justify-content: space-between;
    /* Space between elements */
    align-items: center;
}

.home-link {
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    /* Use a professional-looking font */
    font-size: 30px;
    /* Adjust the font size as needed */
    font-weight: bold;
    /* Make the text bold */
    color: #fff;
    /* Text color */
    text-transform: uppercase;
    /* Convert text to uppercase */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Position the home-link in the top-left corner */
    margin: 0;
    /* Remove margin for precise positioning */
}

.home-link .tattoo {
    font-size: 49px;
    color: orange;
    font-weight: bolder;
    /* Set the color for "Tattoo" */
    letter-spacing: 5px;
    /* Adjust character spacing */
}

.home-link:hover {
    text-decoration: none;
    /* Remove underline on hover */
}

.page-content {
    /* Add a min-height to accommodate gallery and footer */
    min-height: calc(100vh - 60px);
    /* Adjust 60px to match the height of the gallery and footer */
}

/* Updated styles for the subpage-links container */
.subpage-links {
    position: absolute;
    /* Position the container absolutely */
    top: 60px;
    /* Align it to the top */
    right: 50px;
    /* Align it to the right */
    display: flex;
    /* Push subpage links to the right */
}

.button-link {
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
}

.button-link:hover {
    text-decoration: none;
}

/* Add margins to the sides of the gallery */
.gallery {
    column-gap: 20px;
    column-count: 3;
    padding: 30px;
    margin-top: 0px;
    margin-left: -20px;
    /* Add margin to the left */
    margin-right: -20px;
    /* Add margin to the right */
    overflow: hidden;
    /* Add overflow hidden to prevent overlapping */
}

.gallery-item {
    margin-bottom: 20px;
    /* Increased margin between items */
    position: relative;
}

/* Improved zoom animation for gallery images */
.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
    /* Slightly slower transition for smoother animation */
    border-radius: 5px;
    margin: 0;
    /* Remove default margin */
}

.gallery-item img:hover {
    transform: scale(1.1);
    /* Increase the scale for a cooler zoom effect */
}


/* Media query for responsive layout */
@media (max-width: 1023px) {
    .gallery {
        column-count: 2;
        /* 2 columns for screens up to 1023px wide */
    }
}

/* Media query for mobile layout */
@media (max-width: 854px) {

    form#form {
        margin: -30px
    }
    
    .gallery {
        column-count: 1;
        /* 1 column for screens up to 767px wide (e.g., mobile) */
    }

    /* Hide the subpage links */
    .subpage-links {
        display: none;
    }

    /* Styles for the burger menu */
    .burger-menu {
        font-size: 24px;
        cursor: pointer;
        color: #eee;
        /* Move the menu bars to the left */
        margin-top: -20px;
        display: block;
        flex-direction: column;
        align-items: center
    }

    /* Styles for the burger bars */
    .bar {
        width: 40px;
        /* Width of the lines */
        height: 6px;
        /* Height of the lines */
        background-color: #eee;
        margin: 10px 0;
        /* Line color */
        transition: transform 0.3s ease-in-out;
        /* Smooth transition for animation */
    }

    /* Animation for the burger bars when active */
    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        /* Rotate and move first line */
    }

    .burger-menu.active .bar:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg);
        /* Rotate and move second line */
    }

    /* Style for subpage links in the list when active */
    .subpage-links.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center align horizontally */
        justify-content: center;
        /* Center align vertically */
        height: 60vh;
        /* Full viewport height */
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s, transform 0.3s;
        position: inherit;
    }

    /* Style for subpage links in the list */
    .subpage-links.show .button-link {
        font-size: 30px;
        /* Adjust size as needed */
        margin: 40px 0;
        /* Adjust spacing */
        display: flex;
        align-items: flex-start;
        /* Align links to the left */
    }

    /* Hide the gallery and footer when subpage links are shown */
    .gallery.hide,
    .page-content.hide {
        display: none;
    }

    footer.hide .address {
        display: none;
    }
}

/* Styles for the footer */
footer {
    background-color: #222324;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    /* relative position */
    bottom: 0;
    /* Stick to the bottom of the viewport */
    width: 100%;
    /* Full width */
}

/* Normal state */
.address a {
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #fff;
}

/* Hover, Visited, Focus, and Active states */
.address a:hover,
.address a:visited,
.address a:focus,
.address a:active {
    text-decoration: none;
    color: #fff;
}


/* Style for social media icons */
.social {
    text-decoration: none;
    font-size: 32px;
    /* Set the icon size */
    color: orange;
    /* Set the icon color */
    transition: transform 0.2s ease-in-out;
    /* Add a subtle hover effect */
    margin-right: 10px;
    /* Add spacing between icons if needed */
}

.social:hover {
    transform: scale(1.2);
    /* Increase size on hover for a pop-out effect */
}

/* Styles for social media icons in the footer */
footer .social span {
    font-size: 32px;
    /* Set the desired font size */
}

/*Styles for Contact Page */
h1 {
    color: #fff;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #fff;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

h3 {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: -10px
}

form#form {
    text-align: center;
}

input {
    background-color: #fff;
    width: 70%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

textarea {
    background-color: #fff;
    width: 70%;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

input:focus-within {
    outline: none;
    border-color: orange;
    border-width: 3px;
}

textarea:focus-within {
    outline: none;
    border-color: orange;
    border-width: 3px;
}

button {
    background-color: orange;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}

.logo {
    max-width: 50%;
    height: auto;
    text-align: center;
    display: flex;
    margin: auto;
    mix-blend-mode: multiply;
}

/* Style for the map container */
.map-container {
    width: 100%;
    /* Full width */
    max-width: 100%;
    /* Ensure it doesn't exceed the viewport width */
    text-align: center;
    /* Center the map */
    margin-top: 20px;
    /* Adjust margin as needed */
}

/* Style for the map iframe */
.map-container iframe {
    width: 100%;
    height: 100%;
    /* Full height */
}